.footer{
  background-color: #6C2B06;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 1.3rem;

  padding: 1rem;

  &_title{
    line-height: 1.8rem;
  }

  &_separator{
    background-color: #BF6A3A;
    min-width: 4px;
    min-height: 6rem;
    border-radius: 5px;
  }

  &_categories_isActive{
    font-weight: 600;
  }
}
